// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";

$theme-primary: #0f3c55;
$theme-accent: #7dd2f7;
$theme-accent-fallback: #ff7547;

@import "active_material";
// @import "active_admin/base";


.header {
	background-color: #0f3c55 !important;
}
